<div class="show_main">
  <div class="show_text">
    <%= @post.text %>
  </div>
  <div class="show_image">
    <%= image_tag @post.image.url, size: "400x400" %>
  </div>
  <div class="show_name">
    <% if user_signed_in? && @post.user_id == current_user.id %>
      <%= @user.name %>
    <% else %>
      <%= link_to(@post.user.name, user_path(@post.user_id)) %>
    <% end %>
  </div>
  <div class="show_date">
    <%= @post.created_at.strftime("%Y-%m-%d %H:%M")%>
  </div>
<% if user_signed_in? %>
  <div class="comment_input">
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :text, placeholder: "コメント", class: "comment_text" %>
      <%= f.submit "コメントする", class: "comment_btn" %>
    <% end %>
  </div>
<% end %>

<div class="comment_field">
  <% @comments.each do |comment| %>
    <ul>
      <li>
        <%= comment.text %>
        <%= link_to "by#{comment.user.name}", user_path(comment.user_id) %>
      </li>
    </ul>
  <% end %>
</div>

</div>