<div class="show_main">
  <div class="show_text">
    <%= @post.text %>
  </div>
  <div class="show_image">
    <%= image_tag @post.image.url, size: "400x400" %>
  </div>
  <div class="show_name">
    <%= @user.name %>
  </div>
  <div class="show_date">
    <%= @post.created_at.strftime("%Y-%m-%d %H:%M")%>
  </div>
<% if user_signed_in? %>
  <%= link_to("コメント") %>
<% end %>

</div>