<!DOCTYPE html>
<html>
  <head>
    <title>Kw1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="title">
        <%= link_to("kw1", root_path, class: "link") %>
      </div>
      <div class="header_menu">
        <% if user_signed_in? %>
          <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "menu_left") %>
          <%= link_to("新規投稿", new_post_path, class: "menu_right")%>
        <% else %>
          <%= link_to("ログイン", new_user_session_path, class: "menu_left") %>
          <%= link_to("新規登録", new_user_registration_path, class: "menu_right") %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
