<!DOCTYPE html>
<html>
  <head>
    <title>Kw1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="title">
        <%= link_to("kw1", root_path, class: "link") %>
      </div>
      <div class="header_menu">
        
      </div>
    </div>
    <%= yield %>
  </body>
</html>
